# Compiled python files.
*.py[cod]
build

# Packages.
__pycache__
*.egg-info
migrations


# Temporary files.
*~
*.swp

# Hidden files.
.*
!.gitignore

*.log
config.py

sftp-config.json
self_script
*.rdb
